{% extends "base.twig" %}

{% block title %}Онлайн банк{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Добро пожаловать!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Вы можете выполнить платёж денежных средств между аккаунтами
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login" class="btn btn-primary btn-lg px-4 gap-3">Авторизация</a>
        </div>
    </div>
</div>
{% endblock %}